.host {
  display: flex;
  justify-content: space-around;
  gap: 4rem;
  padding: 0 2rem;
     @media screen and (max-width: 768px) {
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: center;
    flex-direction: column;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.image {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
