.host {
  display: flex;
  display: flex;
  height: 7rem;
  align-items: center;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  padding: 2rem;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    height: 4rem;
  }
 
}

.navbar {
  display: flex;
  gap: 2rem;
  margin-left: 2rem;
  align-self: center;
  justify-content: center;
  margin-right: 20%;
  width: 100%;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.navitem {
  transition: transform 0.3s;
  font-size: 1.25rem;
  color: var(--text-grey-color);
  font-family: Raleway;
}

.navitem:hover {
  transform: scale(1.1);
  font-weight: 500;
}

.logo {
  @media screen and (max-width: 768px) {
   align-self: center;
}
}

.loginContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.partner {
  font-weight: 400;
}

.login {
  font-weight: 500;
  color: var(--primary-color);
  cursor: pointer;
}

.login:hover {
  text-decoration: underline;
}