.host {
  display: flex;
  height: 7rem;
  align-items: center;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  padding: 2rem;
  width: 100%;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    height: 4rem;
  }
}

.navbar {
  display: flex;
  gap: 2rem;
  align-self: center;
  justify-content: center;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.navitem {
  transition: transform 0.3s;
  font-size: 1.25rem;
  color: var(--grey-color);
  font-family: Raleway;
  font-weight: 500;
}

.navitem:hover {
  transform: scale(1.05);
  font-weight: 500;
}

.logo {
  @media screen and (max-width: 768px) {
    align-self: center;
  }
}

.loginContainer {
  display: flex;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.partner {
  font-weight: 400;
  font-size: 18px;
  text-align: end;
}

.login {
  font-weight: 600;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 18px;
}

.login:hover {
  text-decoration: underline;
}
