.host {
  display: flex;
  display: flex;
  height: 7rem;
  align-items: center;
  background-color: var(--primary-color);
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
 
}

.navbar {
  display: flex;
  gap: 2rem;
  margin-left: 2rem;
}

.navitem {
  transition: transform 0.3s;
  font-size: 1.5rem;
  color: var(--white-color)
}

.navitem:hover {
  transform: scale(1.1);
  font-weight: 500;
}

.logo {
  margin-left: 1rem;
}
