.contactSection {
  background-color: #009de2;
  color: #fff;
  padding: 40px;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 4rem;
}

.contactDetails {
  margin-top: 20px;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .contactSection {
    padding: 20px;
  }
}