/* General Button Styles */
.button {
  padding: 0.75rem 1.5rem;
  border-radius: 60px;
  font-size: 1rem;
  font-weight: 600;
  text-transform: none;
  transition: all 0.3s ease;
}

/* Full Width Button */
.fullWidth {
  width: 100%;
}

/* Contained Button Styles */
.contained {
  /* background-color: #000; */
  /* color: #fff; */
}

/* Spinner Styles */
.spinner {
  border: 4px solid rgba(255, 255, 255, 0.9);
  border-top: 4px solid white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
  margin-left: 8px;
}

/* Spinner Animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
