.section {
    width: 100%;
    display: flex;
    margin: 4rem 0;
    gap: 4rem;
}

.title {
    font-size: 3rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 1rem;
}

.grid {
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 4rem;
}

.rightColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

