.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
}

.content {
  display: flex;
  margin-top: 10rem;
  margin-bottom: 10rem;
  height: 100vh;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #0d1b2a;
  color: #ffffff;
  padding: 1rem;
}
