.navbar {
  width: 100%;
  position: relative;
}

.content {
  display: flex;
  margin-top: 10rem;
  margin-bottom: 10rem;
  height: 100vh;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: var(--secondary-color);
  color: #ffffff;
  padding: 1rem;
  margin: 0rem 2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
