.section {
  width: 100%;
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    margin-top: 0rem;
    margin-bottom: 1rem;
  }
}

.title {
  font-size: 4rem;
  font-weight: 600;
  @media screen and (max-width: 768px) {
    font-size: 2rem;
  }
}

.description {
  font-size: 1.5rem;
  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }
}

.containerText {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 768px) {
    width: 100%;
    padding-left: 0;
    /* align-items: center; */
  }
}

.containerImages {
  display: flex;
  gap: 2rem;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 0;
    display: none;
  }
}

.firstImage {
  /* margin-top: 6rem; */
  max-inline-size: 100%;
  block-size: auto;
  padding-top: 8rem;
 
   @media screen and (max-width: 1024px) {
    display: none;
  }
}

.secondImage {
  /* height: 1034px; */
  @media screen and (max-width: 1024px) {
    width: 100%;
    padding-bottom: 0rem;
    height: 50%;
     /* height: 400px; */
  }
}

.downloadButton {
  border-radius: 40px;
  padding: 1rem;
  margin-top: 1rem;
}

.downloadText {
  font-size: 18px;
  font-weight: 700;
  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }

}

.containerDownload {
  max-width: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

