.host {
  display: flex;
  justify-content: space-between;
  display: flex;
  height: 10rem;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgb(201, 199, 199),
    rgba(255, 255, 255, 1)
  );
}

.navbar {
  display: flex;
  width: 70%;
  gap: 5rem;
  padding: 2rem;
}

.navitem {
  transition: transform 0.3s;
  font-size: large;
  font-weight: bold;
}

.navitem:hover {
  transform: scale(1.1);
}

.logo {
  display: flex;
  padding: 2rem;
  width: 30%;
}
