.host {
  display: flex;
  justify-content: space-around;
  padding: 5rem;
  gap: 4rem;
}

.info {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 2rem;
}

.contacts {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 2rem;
}

.image {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
