.host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
  gap: 2rem;
  margin: 4rem 0;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 2rem 0;
  }
}

.content {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.secondcontent {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 60%;
  @media screen and (max-width: 768px) {
    width: 100%;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
  }
  
}

.textContent {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  width: 50%;
    @media screen and (max-width: 768px) {
      width: 100%;
      text-align: center;
  }
}

.images {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 10rem;
}

.p {
  font-size: xx-large;
  line-height: 1.5;
  font-family: var(--font-raleway);
}

.image {
  border-radius: 8px;
 overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.descLogin {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 2rem;
}

.title {
  font-size: 2rem;
  font-weight: 500;
}

.containerButtons {
  display: flex;
  gap: 1rem;
  margin-top: 4rem;
   @media screen and (max-width: 768px) {
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: center;
  }
}