.container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    margin: 4rem 0 8rem 0;
    @media screen and (max-width: 900px) {
     display: none;
    }
}
.imageLoading {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .imageLoaded {
    opacity: 1;
  }