.container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    margin: 4rem 0 8rem 0;
    @media screen and (max-width: 900px) {
     display: none;
    }
}